*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

body{
    background-image: url(../img/nature-garden.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero{
    max-width: 1200px;
    height: 700px;
    background-color: rgba(0, 255, 255, 0.5);
    margin: 0 auto;
    margin-top: 70px;

    &__header{
        max-width: 100%;
        width: 100%;
        background-color: rgb(20, 220, 60);
        color: white;
        text-align: center;
        padding: 15px;

    }

    &__wrapper{
        max-width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .plant__stem{
        width: 10px;
        height: 200px;
        background-color: green;

    }

    .plant__head{
        margin-top: 120px;
        width: 300px;
        height: 300px;
        border-radius: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        position: relative;

        .petal{
            width: 100px;
            height: 150px;
            border: 1px solid rgba(255, 255, 255, 0.265);
            background-color: rgb(220, 20, 137);
            transition: .3s;
            display: flex;
            padding: 60px 0px;
            justify-content: center;
            color: white;
        }

        .petal__eye{
            position: absolute;
            width: 100px;
            height: 80px;
            border-radius: 50px;
            background-color: white;
        }
    }
}